<!-- Row -->
<div class="row">
  <!-- Sidebar Column -->
  <%= render 'admin/main/sidebar' %>
  <!-- Sidebar Column -->

  <!-- Timeline Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <div class="card-header bg-pink">
        <h4 class="m-b-0 text-white">Share something</h4>
      </div>
      <div class="card-body">
        <input type="text" placeholder="What would you like to share with us, <%= current_active_user.first_name %>?" class="form-control" data-toggle="modal" data-target="#status_modal">
      </div>
    </div>

    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Timeline</a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a> </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- timeline tab -->
        <%= render 'admin/main/timeline', timelines: @timelines %>

        <!--profile tab-->
        <%= render 'admin/main/profile' %>
      </div>
    </div>
  </div>
  <!-- Timeline Column -->
</div>
<!-- Row -->
