<strong><h2 class="text-danger">Network authentication failed!</h2><strong>
<strong> 
  <p>You see this now because you're trying to access this page via different network which is not authorized.</p>
  <p>Please contact your supervisor (<%= current_employee.supervisor.full_name %>), or contact the Technical support team directly</p>
  <br/>
  <p>Thanks,<br>
  Fustany Technical Support Team.</p>
</strong>
