<strong><h2 class="text-danger">Device authentication required!</h2><strong>
<strong> 
  <p>You see this now because either you cleared your browsing data or you're using different browser than the one you verified before.</p>
  <p>Please contact your supervisor (<%= current_employee.supervisor&.full_name %>), or contact the H.R directly</p>
  <br/>
  <p>Thanks,<br>
  Fustany Technical Support Team.</p>
</strong>
