<h2>Dear, <%= @comment.timeline.publisher.name %></h2>
===========================================================

<p><%= @comment.commenter.name %> commented on <a href="http://team.fustany.com/admin/timelines/<%= @comment.timeline.id %>" target="_blank">your post</a>, Check it and respond to your teammates :)</p>
<strong><p>Best Regards,<br/>Fustany Team</p></strong>
