<h1>Welcome to Fustany</h1>

<script>                       
  $.toast({                    
    heading: 'Fustany', 
    text: 'Fustany Administration',
    position: 'top-right',     
    loaderBg: '#f33c49',       
    icon: 'info',
    hideAfter: 6000,           
    stack: 6
  });
</script>
