<% content_for :bc_title do %>
  Employees
<% end %>

<% content_for :bc_current do %>
  Compare
<% end %>

<% content_for :bc_buttons do %>
  <a href="<%= admin_path %>"><button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> Back to Timeline</button></a>
<% end %>

<%= render 'shared/dashboard/breadcrumb' %>

<div class="card">
	<div class="card-body">
    <h4 class="card-title">Please select an employee</h4>
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Avatar</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= image_tag(employee.profile_pic.thumb.url, class: 'table-thumb') %></td>
              <td><%= link_to employee.full_name, compare_admin_employee_performances_path(employee), title: employee.formal_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

