<div class="sl-item">
  <div class="sl-left">
    <%= image_tag(current_employee.avatar.url, class: 'img-circle') %>
  </div>
  <div class="sl-right">
    <div>
      <a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
      <div class="m-t-20 row">
        <div class="col-md-3 col-xs-12">
          <%= image_tag(current_employee.avatar.url, class: 'img-responsive radius') %>
        </div>
        <div class="col-md-9 col-xs-12">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. </p> <a href="#" class="btn btn-success"> Design weblayout</a>
        </div>
      </div>
      <div class="like-comm m-t-20">
        <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a>
      </div>
    </div>
  </div>
</div>
