<div class="like-comm m-t-20">
  <a href="javascript:void(0)" class="link m-r-10">2 comment (Coming soon)</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love (Coming soon)</a>
</div>
