<div class="sl-item">
  <div class="sl-left">
    <%= image_tag(current_employee.avatar.url, class: 'img-circle') %>
  </div>
  <div class="sl-right">
    <div>
      <a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
      <blockquote class="m-t-10">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      </blockquote>
    </div>
  </div>
</div>
