<h2>Dear Fustany Team,</h2>
<h3><%= @timeline.publisher.name %> has posted on Fustany Team.</h3>

<p><a href=<%= "http://team.fustany.com/admin/timelines/#{@timeline.id}" %> target="_blank">Click here</a> to check the post.</p>
<strong><p>Best Regards,<br/>Fustany Team</p></strong>
