.first-leaderboard {
  font-size: 2.0em;
  font-weight: bold;
  color: blue;
}

.second-leaderboard {
  font-size: 1.6em;
  font-weight: bold;
  color: green;
}

.third-leaderboard {
  font-size: 1.3em;
  font-weight: bold;
  color: purple;
}

.rest-leaderboard {
  font-size: 1.1em;
  font-weight: bold;
}
