<h2>Dear Fustany Team</h2>
===========================================================
<h3><%= @holiday.name %></h3>

<p><%= @holiday.content.html_safe %></p>
<strong><p>Best Regards,<br/>Fustany Team</p></strong>
