<div align="center">
  <h2>Happy Birthday <%= @employee.first_name %> :)</h2>
  <p><a href="http://team.fustany.com" target="_blank">Login</a> to see what your teammates are wishing for you :)</p>
  <img src="/images/happy_birthday.png" style="width: 800px;">
</div>
