.notification-menu-item-bg {
  background-color: rgb(1, 1, 1, 0.1)
}

.notification-card {
  border: 1px solid black !important;
}

.updates {
  width: 1024px !important;
}

.demo {
  width:100%;
}

.demo img {
  width: 100%;
  height: 576px;
}

.demo.ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom:0;
}

.demo.li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}

.demo.ul.li.img {
  display: block;
  height: auto;
  max-width: 100%;
}

.custom-hover {
  color: #EF5280;
  font-size: 20px;
}

.custom-hover:hover {
  color: #B13A5B;
}

.bg-pink {
  background-color: #EF5280;
}

.btn-pink {
  background-color: #EF5280;
  color: #ffffff;
}

.smooth-scroll {
 scroll-behavior: smooth;
}

.toggle-btn {
  padding: 5px 6px !important;
}

.table-thumb {
  width: 25px;
}

.big-icon {
  font-size: 18px;
}

.green-text {
  font-weight: bold;
  color: green;
}

.red-text {
  font-weight: bold;
  color: red;
}

#pac-input {
  position: relative;
  top: 48px;
  z-index: 9;
  margin-left: 400px;
  width: 400px;
}

#map {
  height: 1000px;
}

.vip {
  font-weight: bold;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px blue, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.glow {
  font-size: 15px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.print-table th {
   text-align: center;   
}

.print-table td {
   text-align: center;   
}

.hidden-btn {
  display: none;
}
