<h2>Dear <%= @vacation_request.requester.full_name %>,</h2>
<h3><%= @hr.full_name %> has declined your request!</h3>
<h4>Please contact H.R directly for any further questions.</h4>

<p><a href=<%= "http://team.fustany.com/admin/vacation_requests" %> target="_blank">Click here</a> to check your requests.</p>
<strong><p>Best Regards,<br/>Fustany Team</p></strong>
