<h2>Dear H.R Team</h2>
========
<h3><%= @vacation_request.requester.full_name %> has a confirmed request by "<%= @vacation_request.requester.supervisor.full_name %>" which is waiting for your approval</h3>

<p><a href=<%= "http://team.fustany.com/admin/vacation_requests/pending" %> target="_blank">Click here</a> to check all pending requests.</p>
<strong><p>Best Regards,<br/>Fustany Team</p></strong>
