<h2>Dear, <%= @message.recipient.full_name %></h2>
========

<p>You have received new message on Fustany Team<p>
<p>Please make sure you check <a href="http://team.fustany.com/admin/messages/" target="_blank">Your Mailbox</a> from time to time</p>
<strong><p>Best Regards,<br/>Fustany Team</p></strong>
