<% content_for :bc_title do %>
  Vacation Requests
<% end %>

<% content_for :bc_current do %>
  All Requests
<% end %>

<% content_for :bc_buttons do %>
  <a href="<%= new_admin_vacation_request_path %>"><button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> New Request</button></a>
<% end %>

<%= render 'shared/dashboard/breadcrumb' %>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<%= render 'admin/vacation_requests/requests', title: 'Your Requests', requests: @vacation_requests %>

<% if current_admin %>
  <%= render 'admin/vacation_requests/requests', title: 'All Vacation Requests', requests: @all_vacation_requests %>
<% end %>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->

<div id="escalation-modal">
  <!-- Escalation modal shows here via escalation.js.erb (AJAX) -->
</div>
